name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # Installation de Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # Installation des dépendances
      - run: npm ci
      - run: npx nx-cloud record -- npx nx sync:check
      - run: npx nx-cloud record -- npx nx format:check

      # Lancer les tâches sur TOUS les projets
      - run: npx nx run-many -t lint,test,build